<div class="main-container text-center">
  <div class="cards-container">
    <h1 class="browse-chefs mt-3">Browse Chefs</h1>
    <p class="avail-chefs"><em>Chefs Available:</em> <%= @chef_count %></p>
    <div class="chef-container">
      <% @chefs.each do |chef| %>
      <div class="chef-profile">
        <% if chef.photo.attached? %>
          <%= cl_image_tag chef.photo.key, width: 250, height: 250 %>
        <% end %>
          <%= link_to chef.name, chef_path(chef), class: 'd-block chef-name'%>
          <div class='chef-details'>
            <p><strong>Location:</strong> <%= chef.location.split(",").first%></p>
            <p><strong>Hourly Rate:</strong> £<%= chef.hourly_rate.to_i %></p>
            <p><strong>Rating:</strong>
              <% if chef.average_review == "" %>
                <span id="no-reviews"><em>No reviews yet</em></span>
              <% else %>
                <%= chef.average_review.round(1) %> <%= '⭐️' %>
              <% end %>
              </p>
          </div>
      </div>
    <% end %>
    </div>
  </div>

    <div id="map"
        style= "height: 100vh"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
