<div class="main-container text-center">
  <div class="cards-container">
    <h1 class="browse-chefs mt-3">Browse Chefs</h1>
    <p class="avail-chefs"><em>Chefs Available: </em><%= @chefs.count %></p>
    <div class="chef-container">
      <% @chefs.each do |chef| %>
      <div class="chef-profile">
        <% if chef.photo.attached? %>
          <%= cl_image_tag chef.photo.key, width: 220, height: 220, fetch_format: :auto, quality: :auto, class: 'card-image' %>
        <% end %>
          <%= link_to chef.name, chef_path(chef), class: 'd-block chef-name'%>
          <div class='chef-details'>
            <p><strong>Location:</strong> <%= chef.location.split(",").first%></p>
            <p><strong>Cuisines:</strong> <%= chef.cuisines%></p>
            <p><strong>Hourly Rate:</strong> £<%= chef.hourly_rate.to_i %></p>
              <% if chef.average_review == "" %>
                <span id="no-reviews"><em>No rating yet</em></span>
              <% elsif chef.average_review <= 1 %>
                <%= image_tag "1star.png", alt: "1-star rating" %>
              <% elsif chef.average_review <= 2 %>
                <%= image_tag "2star.png", alt: "2-star rating" %>
              <% elsif chef.average_review <= 3 %>
                <%= image_tag "3star.png", alt: "3-star rating" %>
              <% elsif chef.average_review <= 4 %>
                <%= image_tag "4star.png", alt: "4-star rating" %>
              <% else %>
                <%= image_tag "5star.png", alt: "5-star rating" %>
              <% end %>
          </div>
      </div>
    <% end %>
    </div>
  </div>

    <div id="map"
        style= "height: 100vh"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
