<div class='chef-info'>
  <img src="https://res.cloudinary.com/dzjxqunz7/image/upload/v1597756920/chef_cfjlu0.png" alt="" class="w-25">
  <h2><%= @chef.name %></h2>
  <h3>Experience: <%= @chef.years_experience %> Years</h3>

  <p>Hourly Rate: £<%= @chef.hourly_rate.to_i %></p>
  <p>Location: <%= @chef.location %></p>
  <p>Cuisines: <%= @chef.cuisines %></p>
</div>

<div class='buttons'>
  <%= link_to "Update", edit_chef_path(@chef), class: 'btn btn-primary mb-2' %>
  <br>
  <%= link_to chef_path(@chef),
              method: :delete,
              data: { confirm: "Are you sure you want to delete?" }, class: 'btn btn-danger mb-2' do %>
              Delete <i class="far fa-trash-alt"></i>
              <% end %>
  <br>
  <%= link_to "Return to 'Browse Chefs'", chefs_path  %>
</div>
