<!-- Don't delete, meta info -->
<% content_for :meta_title, "#{@chef.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @chef.location %>

<div class="chef-profile-page-container mb-5">
  <div class='chef-info ml-3'>
    <% if @chef.photo.attached? %>
    <%= cl_image_tag @chef.photo.key, width: 360, fetch_format: :auto, quality: :auto, class: 'cloudinary-img responsive-img-phone' %>
    <% end %>

    <!-- Chef Bio -->
    <h2 id="chef-name"><%= @chef.name %></h2>
    <h3 id="experience"><%= @chef.years_experience %> Years Experience</h3>
    <div class='chef-deets'>
      <p><strong>Bio:</strong> <%= @chef.bio %></p>
      <p><strong>Hourly Rate:</strong> £<%= @chef.hourly_rate.to_i %></p>
      <p><strong>Location:</strong> <%= @chef.location %></p>
      <p><strong>Cuisine(s):</strong> <%= @chef.cuisines %></p>
    </div>

    <!-- Buttons -->
    <%= link_to "Update", edit_chef_path(@chef), class: 'btn btn-info2 mb-2' %>
    <%= link_to chef_path(@chef),
                method: :delete,
                data: { confirm: "Are you sure you want to delete?" },
                class: 'btn btn-danger2 mb-2' do %>
    Delete <i class="far fa-trash-alt"></i>
    <% end %>
    <br>
    <%= link_to "Return to 'Browse Chefs'", chefs_path, class: 'btn btn-info2 mb-3'  %>
  </div>

  <div class="mt-3">
    <div>
      <h2 class="book-chef">More Pictures</h2>
      <div class="dishes">
        <% @chef.dish_photos.each do |photo| %>
          <%= cl_image_tag photo.key, fetch_format: :auto, quality: :auto, height: 120, width: 180, class: 'cloudinary-img card-dish' %>
        <% end %>
      </div>
      <button type="button" class="btn btn-info2 mt-3" data-toggle="modal" data-target="#addDishPictures">
        Add Photos
      </button>
    </div>

    <div class="reviews-container mt-5">
      <h2 class="review-header book-chef">Reviews</h2>
        <% if @chef.reviews.empty? %>
          <p><em>No Reviews Yet! </em>☹️</p>
        <% end %>
      <% @chef.reviews.each do |review| %>
        <p class="border-bottom border-black nickname pb-2"><%= review.booking.user.nickname %>
          <% if review.rating == 1 %>
            <%= image_tag "1star.png", alt: "1-star rating" %>
          <% elsif review.rating == 2 %>
            <%= image_tag "2star.png", alt: "2-star rating" %>
          <% elsif review.rating == 3 %>
            <%= image_tag "3star.png", alt: "3-star rating" %>
          <% elsif review.rating == 4 %>
            <%= image_tag "4star.png", alt: "4-star rating" %>
          <% else %>
            <%= image_tag "5star.png", alt: "5-star rating" %>
          <% end %>
        </p>
        <p><%= review.content %></p>
      <% end %>
    </div>
  </div>


  <div class="booking-form-container m-3">
    <h2 class="book-chef">Book this Chef</h2>
    <div class='booking-form'>

      <%= simple_form_for [ @chef, @booking ] do |f| %>
      <%= f.input :date, label: 'Date:', as: :date, html5: true %>
      <div class="row">
        <div class="col">
          <%= f.input :guests, label: 'Number of Guests:', collection: 2..50 %>
        </div>
        <div class="col">
          <%= f.input :duration, label: 'Duration (Hours):', collection: 3..12 %>
        </div>
      </div>
      <%= f.input :location, input_html: { autocomplete: 'email' }, label: 'Location:', placeholder: 'Where is your event?' %>
      <%= f.input :cuisine, label: 'Preferred Cuisine:', collection: @chef.cuisines.split(',') %>
      <%= f.submit 'Confirm Booking', class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'modal_add_pictures' %>




