<div class="container">

  <div class="profile-container mt-3">
  <h1>My Profile</h1>
</div>
<div class="profile">
<%= image_tag "avatar-chef.23.png", width: 150, class: "avatars" %>
  <p id="email"><strong>Email Address:</strong> <%= @user.email %></p>
  <p><strong>Total Bookings: </strong><%= @bookings.count %></p>
</div>

  <div>
    <h1 class="bookings-header mb-4">My Bookings</h1>
    <div class="bookings">
      <% @bookings.each do |booking| %>
      <div class="booking">
        <p><strong>Chef Name:</strong> <%= link_to booking.chef.name, chef_path(booking.chef), class: 'no-decoration' %></p>
        <p><strong>Date:</strong> <%= booking.date.strftime("%d %B %Y") %></p>
        <p><strong>Cuisine:</strong> <%= booking.cuisine.capitalize %></p>
        <p><strong>Location:</strong> <%= booking.location.capitalize %></p>
        <p><strong>Number of Guests:</strong> <%= booking.guests %></p>
        <% if booking.date < Time.now && booking.reviews.empty? %>
          <p><strong>---------------------------------------</strong></p>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal<%= booking.id %>">
            Leave Review
          </button>
          <!-- Button trigger modal -->

          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= booking.id %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= booking.id %>" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel<%= booking.id %> ">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [booking, Review.new] do |f| %>
                  <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
                  <%= f.input :content %>
                </div>
                <div class="modal-footer">
                  <%= f.button :submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% elsif booking.date < Time.now %>
          <p><strong>---------------------------------------</strong></p>
          <p id="review-submitted"><em>Review Submitted!</em><%= link_to 'Book Again?', chef_path(booking.chef), class: 'btn btn-info book-again' %></p>
        <% else booking.date > Time.now %>
        <p><strong>---------------------------------------</strong></p>
        <%= link_to 'Cancel', booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel this booking?" }, class: 'btn btn-danger'  %>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= link_to "Return to Browse Chefs", chefs_path, class: 'btn btn-info2 mb-3'  %>

  </div>
</div>

