<div class="container">

  <div class="profile-container">
  <h1>My Profile</h1>
</div>
<div class="profile">
<%= image_tag "avatar-chef.23.png", width: 150 %>
  <p id="email"><strong>Email Address:</strong> <%= @user.email %></p>
</div>

<div>
  <h1 class="bookings-header">My Bookings</h1>
<div class="bookings">
<% @bookings.each do |booking| %>

<div class="booking">
  <p>Name of Chef: <%= booking.chef.name %></p>
  <p>Date: <%= booking.date %></p>
  <p>Cuisine: <%= booking.cuisine %></p>
  <p>Location: <%= booking.location.capitalize %></p>
  <p>Number of Guests: <%= booking.guests %></p>
</div>
<% end %>
</div>
</div>
</div>


