<div class="container">

  <div class="profile-container mt-3">
  <h1>My Profile</h1>
</div>
<div class="profile">
<%= image_tag "avatar-chef.23.png", width: 150 %>
  <p id="email"><strong>Email Address:</strong> <%= @user.email %></p>
</div>

<div>
  <h1 class="bookings-header mb-4">My Bookings</h1>
<div class="bookings">
<% @bookings.each do |booking| %>

<div class="booking">
  <p><strong>Name of Chef:</strong> <%= booking.chef.name %></p>
  <p><strong>Date:</strong> <%= booking.date.strftime("%d %B %Y") %></p>
  <p><strong>Cuisine:</strong> <%= booking.cuisine.capitalize %></p>
  <p><strong>Location:</strong> <%= booking.location.capitalize %></p>
  <p><strong>Number of Guests:</strong> <%= booking.guests %></p>
</div>
<% end %>
</div>
</div>
</div>


